= mail_to 'kazuooooosight@co.jp', 'かずおにメール', {subject: :"かずおにメール", cc: :"ai.fujita@gmail.com"}
br
br
= auto_discovery_link_tag(:rss,{controller: :books,action: :index, id: :rails},title: 'test')

= @current_time = capture do
  p "ただいまの時刻は#{Time.now}です"